
.button {
    -fx-background-color: #f4f4f4;
    -fx-border-width: 0px;
    -fx-background-radius: 20px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #212121;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 12, 0, 0, 4),
        dropshadow(gaussian, rgba(0,0,0,0.3), 12, 0, 0, -4)
}
.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0, 0, 6),
        dropshadow(gaussian, rgba(0,0,0,0.3), 12, 0, 0, -6),
        innershadow(gaussian, rgba(0,0,0,0.3), 20, 0, 0, -4);
}
.button:pressed {
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 20, 0, 0, 4),
        innershadow(gaussian, rgba(0,0,0,0.3), 12, 0, 0, -4);
}


.home-frame {
    -fx-background-color: rgba(10, 1, 50, 0.5);
}
.home-frame .content {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 20px;
    -fx-border: 10px;
    -fx-hgap: 50px;
    -fx-vgap: 20px;
    -fx-padding: 20px;
}


.card-frame {
    -fx-background-color: rgb(68, 68, 68);
    -fx-background-radius: 25px;
    -fx-border-radius: 20px;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 10px;
    -fx-padding: 20px;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}


.checks {
    -fx-text-fill: #212121;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
